div,p,body{
  margin: 0;
  padding: 0;
}
body, #root{
  background: #2f2f2f;
  height: 100vh;
}
.wrapper{
  display: flex;
  height: 100%;
  .lnb{
    background-color: #0d0d0d;
    width: 60px;
    color: #fff;
  }
  .content{
    flex: 1;
  }
}
