div,p,body, ul, li{
  margin: 0;
  padding: 0;
}
ul, li{
  list-style: none;
}
*{
  box-sizing: border-box;
}
body, #root{
  background-color: #1c1c26;
  height: 100vh;
}
.text-center{
  text-align: center;
}
.wrapper{
  display: flex;
  height: 100vh;
  .lnb{
    background-color: rgb(28, 28, 38);
    padding: 20px 8px;
    text-align: center;
    color: #fff;
    li{
      margin-top: 16px;
      height: 52px;
      width: 52px;
      &:first-child{
        margin-top: 0px;
      }
      .MuiButtonBase-root{
        padding: 4px 0;
      }
    }
    .active {
      background-color: rgb(39, 40, 54);
      border-radius: 10px;
    }
    .MuiSvgIcon-root{
      color: #fff;
      font-size: 18px;
    }
    .text{
      font-size: 12px;
      color: #fff;
    }
  }
  .resource-menu {
    padding: 20px 16px;
    width:  200px;
    background-color: rgb(39, 40, 54);
    text-align: center;
  }
  .content {
    flex: 1;
  }
}